.app {
	text-align: center;
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
}

.hidden {
	display: none;
}

.error {
	display: block;
	color: var(--error-color);
	font-weight: bold;
}

.calc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 80%);
	border: 1px solid hsl(var(--accent-color-hue), var(--accent-color-saturation), 50%);
	border-radius: 10px;
	padding: 5px;
}
.resultWindow {
	border: 0;
	width: calc(100% - 10px);
	height: 25px;
	background-color: white;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 5px;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.container {
	width: inherit;
	height: inherit;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
.col4 {
	width: calc(33% - 10px);
}
.col8 {
	width: calc(66% - 10px);
}
.actionsContainer {
	display: flex;
	justify-content: space-between;
	gap: 5px;
}

.page-heading {
	margin: 0 0 0.5rem;
	font-size: 25px;
	font-weight: bold;
}

.no-margin-text {
	margin: 0;
}

.current-value {
	font-weight: bold;
}

.buttons-container {
	margin-top: 1.5rem;
	display: flex;
	justify-content: center;
	gap: 10px;
}

.button {
	padding: 0.5em 0.75em;
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 92%);
	font-size: 18px;
	border: none;
	transition: background-color 0.15s ease;
}

.button:hover {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 87%);
}

.button:active {
	background-color: hsl(var(--accent-color-hue), var(--accent-color-saturation), 82%);
}

.button:disabled {
	background-color: var(--disabled-color);
}

.list-container {
	margin-top: 1.5rem;
}

.list-heading {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0.5rem;
}

.list {
	text-align: left;
	margin: 0 auto;
	max-width: 300px;
}

.list-item:not(:last-child) {
	margin-bottom: 0.5em;
}
